#state-list{
    width: 100%;
    background-color: lightgray;
}

.human-content {
	color: var(--ion-color-primary);
	border: 2px solid rgb(228, 228, 228);
	border-radius: 15px;
	padding: 2%;
    margin-bottom: 3%;
}

.primary-person{
    background-color: var(--ion-color-primary);
    color: white;
}

.input-item{
    text-align: center;
}

.input-toggle{
    background-color: white;
    color: black;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}

.question-list{
    border-radius: 2%;
    padding-left: 4%;
}

#male-female-toggle{
    height: 100%;
    width: 100%;
}

.active-sex{
    background-color: var(--ion-color-primary);
    color: black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#male{
    background-color: white;
    color: lightgray;
}

#female{
    background-color: white;
    color: lightgray;
}

.input{
    text-align:center;
}

.top-button{
    margin-top: 5%;
}

.active-icon{
    display:inline-block;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.inactive-icon{
    display:inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s;
}


.accordion {
    overflow:hidden;
    transition:max-height 0.3s ease-in-out;
    height:auto;
    max-height:600px;
  }
  .accordion.collapsed {
    max-height:0;
  }