.item-label{
    --padding-start: 20px;
}

.my-text-input{
    border-top: 0px;
    border-bottom: 2%;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 3%;
}

.my-text-input.focused{
    border-color: var(--ion-color-primary);
    border-bottom: 3%;
    box-shadow: 3px 5px 5px 0px #ccc;
     /* horizontal offset, + ->, - <-, 
        vertical offset, - -^, + -v,
        blur radius(opt), 0px=sharp, x > makes blurry,
        spread radius, + big shadow, - little shadow,
        color */
}

.checked{
    border-color: var(--ion-color-primary);
    border-bottom: 3%;
}

ion-checkbox{
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 4px;
    border-color : var(--ion-color-primary) !important;
    --height : 25px;
    --width: 50px;
     /* --checkmark-color:blue;
     --background-checked: #FFFFFF;
     --border-color: var(--ion-color-primary);
     --border-color-checked :#FFFFFF; */
   }

.input-field{
    background-color: lightgray;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    border-radius: 2%;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: lightgray;
    --padding-start: 20px;
}

.phone-field{
    padding: 4%;
    width: 100%;
    margin-left: -1%;
}

.my-checkbox{
    opacity: 1 !important;
}

#my-list{
    width: 100%;
    background-color: lightgray;
    color: black;
    margin-bottom: 2%;
}

#removePhoneButton{
    --background: var(--ion-color-danger);
    border-radius: 5%;
    /* margin-left: 2%; */
}

/* #addPhoneButton{
    margin-left: 2%;
} */

ion-select{
    width: 100%;
    max-width: 100%;
}