/* Text Input */
.input-label-field{
    margin-bottom: 3%;
}

.modal-container{
    width: 80%;
}

.text-input-field{
    background-color: lightgray;
    margin-top: 2%;
    color: black;
    --padding-start: 20px;
}

/* CheckBox */
.my-checkbox{
    opacity: 1 !important;
}

/* Verticle Checkbox */
.text-label{
    color: gray;
    text-decoration: line-through;
}

.text-label.textable{
    font-weight: bold;
    color: var(--ion-color-primary);
    text-decoration: none;
}

/* MySelectList */
ion-select{
    width: 100%;
    max-width: 100%;
}

#my-list{
    width: 100%;
    background-color: lightgray;
    color: black;
    margin-bottom: 2%;
}

.my-select-list{
    height: 5.7em;
}

/* PhoneField */
#removePhoneButton{
    --background: var(--ion-color-danger);
    border-radius: 5%;
    /* margin-left: 2%; */
}

.phone-field{
    width: 100%;
    color: black;
    padding: 4%;
    margin-bottom: 3%;
    border-bottom: 2px black solid;
}

.phone-field-grid{
    padding-left: 0px;
    margin-bottom: 5%;
    margin-top: 3%;
}

.large-header{
    margin-top: 4%;
    font-size: 1.2em;
}

ion-list.phone-list{
    padding-bottom: 0px;
}

/* MyTextArea */
.char-limit{
    color: gray;
}

ion-textarea{
    --padding-start: 20px !important;
}

ion-input{
    --padding-start: 20px !important;
}

ion-item{
    width: 100%;
}

h1.bold-header{
    padding-left: 2%;
    font-weight: bold;
}

.hidden{
    display: none;
}

.note-label{
    border-style: solid;
    border-width: 4%;
}

.my-text-area-item{
    width: 100%;
}

// test input fields
.field:not(:last-child) {

    margin-bottom: 1rem !important;
}

.field {
    ion-label {
        padding-left: 0.2rem;
        padding-right: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        p {
            color: var(--ion-color-danger);
        }
    }
}
.customInput {
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--ion-color-primary);
    border-width: 5%;
    margin-top: 0.25rem;
    transition: all 0.2s linear;
}

.empty{
    color: rgb(180,180,180);
}