/* Text Input */
.input-label-field{
    margin-bottom: 3%;
}

.modal-container{
    width: 80%;
}

.text-input-field{
    background-color: lightgray;
    margin-top: 2%;
    color: black;
    --padding-start: 20px;
}

/* CheckBox */
.my-checkbox{
    opacity: 1 !important;
}

/* Verticle Checkbox */
.text-label{
    color: gray;
    text-decoration: line-through;
}

.text-label.textable{
    font-weight: bold;
    color: var(--ion-color-primary);
    text-decoration: none;
}

/* MySelectList */
ion-select{
    width: 100%;
    max-width: 100%;
}

#my-list{
    width: 100%;
    background-color: lightgray;
    color: black;
    margin-bottom: 2%;
}

/* PhoneField */
#removePhoneButton{
    --background: var(--ion-color-danger);
    border-radius: 5%;
    /* margin-left: 2%; */
}

.phone-field{
    width: 100%;
    color: black;
    padding: 4%;
    margin-bottom: 3%;
    border-bottom: 2px black solid;
}

.phone-field-grid{
    padding-left: 0px;
    margin-bottom: 5%;
    margin-top: 3%;
}

.large-header{
    margin-top: 4%;
    font-size: 1.2em;
}

ion-list.phone-list{
    padding-bottom: 0px;
}

/* MyTextArea */
.char-limit{
    color: gray;
}

ion-textarea{
    --padding-start: 20px !important;
}

ion-input{
    --padding-start: 20px !important;
}

ion-item{
    width: 100%;
}

h1.bold-header{
    padding-left: 2%;
    font-weight: bold;
}

.hidden{
    display: none;
}

.note-label{
    border-style: solid;
    border-width: 4%;
}

.my-text-area-item{
    width: 100%;
}