.item-label{
    --padding-start: 20px;
}

.input-field{
    background-color: lightgray;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    border-radius: 2%;
    --padding-start: 20px;
}

#my-list{
    width: 100%;
    background-color: lightgray;
    color: black;
}

#removePhoneButton{
    --background: var(--ion-color-danger);
    border-radius: 5%;
    margin-left: 2%;
}

#addPhoneButton{
    margin-left: 2%;
}

ion-select{
    width: 100%;
    max-width: 100%;
}