
/* People and Pets */
.question-content {
	color: var(--ion-color-primary);
	border: 2px solid rgb(228, 228, 228);
	border-radius: 15px;
	padding: 2%;
    margin-bottom: 3%;
}

.input{
    text-align:center;
}

/* Family Questions */
.top-button{
    margin-top: 5%;
}

/* Accordion stuff */
.accordion {
    overflow:hidden;
    transition:0.4s ease-in;
    height:auto;
    max-height:1800px;
    margin: 1%;
}

.accordion.collapsed {
margin-top:2%;
max-height:0;
opacity: 0;
}

.accordion-header{
    border-style: solid;
    border-color: gray;
    border-radius: 5%;
}


.accordion-header.primary{
    border-color: var(--ion-color-primary);
    font-weight: bold;
    --background: rgb(235,242,255); /* alice blue*/
}

.icon{
    display:inline-block;
    transition: transform 0.3s;
}

.icon.active{
    transform: rotate(180deg);
}

.icon.primary{
    color: var(--ion-color-primary);
}

.primary-backdrop{
    height: 100%;
    width: 100%;
    background-color: white;
}