/* People and Pets */
.question-content {
	color: var(--ion-color-primary);
	border: 2px solid rgb(228, 228, 228);
	border-radius: 15px;
	padding: 2%;
    margin-bottom: 3%;
}

.input{
    text-align:center;
}

/* Account Questions */
.top-button{
    margin-top: 5%;
}

/* Accordion stuff */
.accordion {
    overflow:hidden;
    transition-property: max-height, opacity ;
    transition-duration: 0.3s, 0.4s;
    transition-timing-function: ease-in;
    max-height:1800px;
    margin: 1%;
}

.accordion.phone{
    transition-duration: 0.1s, 0.2s;
}

.accordion.collapsed {
    max-height:0;
    opacity: 0;
}

.accordion-header{
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
}

.accordion-header.primary{
    border-color: var(--ion-color-primary);
}
ion-item.primary{
    --ion-background-color: rgb(235,242,255) !important;
    font-weight: bold;
}

.icon{
    display:inline-block;
    transition: transform 0.3s;
}

.icon.active{
    transform: rotate(180deg);
}

.icon.primary{
    color: var(--ion-color-primary);
}

.sextion{
    border-style: solid;
    border-color: gray;
    border-width: 4%;
    padding: 4%;
    margin-bottom: 3%;
    margin-top: 3%;
}